<div class="d-flex bg-secondary min-vh-100 h-auto align-items-center justify-content-center">
	<ul class="nav flex-column rounded w-50">
		<li class="w-100 nav-item rounded-top ">
			<button [routerLink]="['/user/loan']" class="w-100 btn btn-dark rounded-top py-2">Loan</button>
		  </li>
		  <li class="w-100 nav-item mt-2">
			<button [routerLink]="['/user/transactions']" class="w-100 btn btn-dark text-center py-2" >Transactions</button>
		  </li>
		  <li class="w-100 nav-item rounded-bottom mt-2">
			<button [routerLink]="['/user/view']" class="w-100 btn btn-dark text-center rounded-bottom py-2">View</button>
		  </li>
	</ul>
</div>