<div class="bg-secondary d-flex min-vh-100 h-auto align-items-center">
    <div class="container py-4">
        <div class="flex-row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 bg-dark rounded">
                <div class="container text-center">
                    <h3 class="pt-3 font-weight-bold text-white">Loan Application</h3>
                </div>
                <div class="panel-body p-3">
                    <form [formGroup]="loanForm">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                Customer ID
                            </span>
                            <input type="text" class="form-control" value="{{customerId}}" disabled>
                        </div>
                        <div class="input-group mt-3">
                            <label class="input-group-text" for="bankBranch">Branch</label>
                            <select formControlName="bankBranch" class="form-select" id="bankBranch">
                                <option selected disabled>Choose...</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Goa">Goa</option>
                            </select>
                        </div>
                        <small *ngIf="loanForm.controls['bankBranch'].dirty && loanForm.hasError('required','bankBranch')" class="text-danger">
                            *Branch required
                        </small>
                        <div class="input-group mt-3">
                            <span class="input-group-text" id="basic-addon1">
                                Loan Amount
                            </span>
                            <input formControlName="amount" type="text" class="form-control" placeholder="INR" aria-label="INR" aria-describedby="basic-addon1">
                        </div>
                        <small *ngIf="loanForm.controls['amount'].dirty && loanForm.hasError('required','amount')" class="text-danger">
                            *Amount required
                        </small>
                        <button (click)="onSubmit()" type="submit" class="btn btn-primary mt-4 w-100">Apply</button>
                    </form>
                    <button [routerLink]="['/login']" class="w-100 btn btn-danger text-center rounded-bottom py-2 mt-5">Logout</button>
                </div>
            </div>
        </div>
        
    </div>
</div>