<div class="bg-secondary d-flex min-vh-100 h-auto align-items-center">
    <div class="container py-4">
        <div class="flex-row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 bg-dark rounded">
                <div class="container text-center">
                    <h3 class="pt-3 font-weight-bold text-white">View Statement</h3>
                </div>
                <div class="panel-body p-3">
                    <form [formGroup]="viewForm">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                Customer ID
                            </span>
                            <input type="text" class="form-control" value="{{customerId}}" disabled>
                        </div>
                        <div class="input-group mt-3">
                            <label class="input-group-text" for="transactionType">Transaction type</label>
                            <select formControlName="transactionType" class="form-select" id="transactionType">
                                <option selected disabled>Choose...</option>
                                <option value="Withdraw">Withdraw</option>
                                <option value="Deposit">Deposit</option>
                            </select>
                        </div>
                        <small *ngIf="viewForm.controls['transactionType'].dirty && viewForm.hasError('required','transactionType')" class="text-danger">
                            *Transaction type required
                        </small>
                        <div class="input-group mt-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa fa-calendar"></i>                                
                            </span>
                            <input formControlName="startDate" type="text" class="form-control" [(ngModel)]="startDateModel" placeholder="Start Date (YYYY-MM-DD)" ngbDatepicker #d1="ngbDatepicker" aria-label="Start Date" aria-describedby="basic-addon1">
                            <button (click)="d1.toggle()" class="btn btn-light">
                                <i class="fa fa-calendar"></i>                                
                            </button>
                        </div>
                        <small *ngIf="viewForm.controls['startDate'].dirty && viewForm.hasError('required','startDate')" class="text-danger">
                            *Start date required
                        </small><div class="input-group mt-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa fa-calendar"></i>                                
                            </span>
                            <input formControlName="endDate" type="text" class="form-control" [(ngModel)]="endDateModel" placeholder="End date (YYYY-MM-DD)" ngbDatepicker #d2="ngbDatepicker" aria-label="End Date" aria-describedby="basic-addon1">
                            <button (click)="d2.toggle()" class="btn btn-light">
                                <i class="fa fa-calendar"></i>                                
                            </button>
                        </div>
                        <small *ngIf="viewForm.controls['endDate'].dirty && viewForm.hasError('required','endDate')" class="text-danger">
                            *End date required
                        </small>
                        <button (click)="onSubmit()" type="submit" class="btn btn-primary mt-4 w-100">Submit</button>
                    </form>
                    <button [routerLink]="['/login']" class="w-100 btn btn-danger text-center rounded-bottom py-2 mt-5">Logout</button>
                </div>
            </div>
            <table *ngIf="tableData!=null" class="table table-striped table-bordered table-dark mt-5">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of tableData;">
                  <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.amount}}</td>
                    <td>{{item.time}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>